html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B3040;

}
.LoadingPage {
  position: absolute;
  color: #A90A2F;
  display: grid;
  place-items: center;
}

.settleBtn {
  margin-left: 2rem;
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 32px;
}

.App {
  color: #ffffff;
}
.menuItem {
  height: 100vh;
  overflow-y: auto;
}
.leftNav, .menuItem, .totalDiv {
  min-height: 100vh;
} 

.leftNav, .totalDiv {
  background-color: #A90A2F;
}

/******* Left Nav *******/
.icon {
  padding: 2rem;
  margin: 1rem auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  color: #EEEEEE;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  scale: 1.1;
  color: #F0C42D;
  font-weight: 900;
}

.icon_active {
  scale: 1.1;
  color: #F0C42D;
  font-weight: 900;
}

.icon > img {
  max-width: 40px !important;
}

/******* Center Menu div *******/
.menuItemHeader {
  height: 10vh;
  display: flex;
  align-items: baseline;
}

.menuItemHeader > h1 {
  color: #F0C42D;
  font-weight: 900;
  display: inline-block;
}
.activeM {
  cursor: pointer;
  transition: 0.3s;
}
.activeM:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.2);
}

.itemName:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.2);
  background:#F8F8F8;
}

.itemName {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.itemName > h6 {
  letter-spacing: 2px;
  color: #A90A2F;
  position: absolute;
  top: 6px;
  left: 10px;
}
.singleItem {
  max-height: 20vh;
  height: 100%;
  border-radius: 5px;
}

.singleItem > div {
  border-radius: 5px;
  background-color: #ffffff;
  margin: .5rem;
  min-height: 15vh;
  color:black;
}

.menuCat {
  color:#ffffff !important;
}

.lead {
  font-weight: 400;
  text-align: center;
}

/******* Right Settle div *******/
.totalDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  height: auto;
}

.totalDiv> h1 {
  font-weight: 900;
}

.totalBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  min-height: 80vh;
  width: 100%;
  border-radius: 5px;
}
.withWr, .choices {
  color: #a90a2f;
  font-weight: 600;
  display: block;
  font-size: 17px;
}
tr:hover {
  cursor: pointer;
} 
td {
  font-size: 17px;
  text-align: start; 
  vertical-align: middle;
  padding: 0.5rem 1.5rem !important;
  font-weight: 500;
}
td > div {
  font-weight: 500;

}

.preSubDiv, .totalubDiv {
  display: flex;
  justify-content: space-between;
}
.preSubDiv > strong {
  font-weight: 500;
}

.totalFooter {
  padding: 1rem;
  background-color: #F8F8F8;
  color: black;
  border-radius: 5px;
  margin: 2rem;
}
.itemNumWrap {
  font-size: 1.25rem !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.tableDiv {
  height: 50vh;
  overflow-y: auto;
}

.addItem, .removeItem {
  font-family: monospace;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border-radius: 100%;
}

.qty {
  margin: 0 .5rem;
  min-width: 25px;
  text-align: center;
}
.addItem:active, .removeItem:active, .addItem:hover, .removeItem:hover  {
  color: #EEEEEE;
  border: none;
  background-color: #A90A2F;
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.2);
}

.ModalFooter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.ModalBtnDiv {
  display: flex;
}
.btn-outline-danger {
  --bs-btn-color: #A90A2F;
  --bs-btn-border-color: #A90A2F;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #A90A2F;
  --bs-btn-hover-border-color: #A90A2F;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A90A2F;
  --bs-btn-active-border-color: #A90A2F;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #A90A2F;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #A90A2F;
  --bs-gradient: none;
  transition: 0.3s;
  min-height: 3.5rem;
  font-size: 1.25rem;
  min-width: 8rem !important;
  max-height: 4rem !important;
}
.curOrderBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.openDrawerIcon {
  background-color: #A90A2F;
  border-radius: 100%;
  max-width: 50px;
  max-height: 50px;
  margin: 0;
  padding: 1.75rem;
}
.openDrawerIcon  > img {
  max-width: 30px !important;
}

.form-select-lg {
  min-width: 8rem !important;
  max-height: 4rem !important;
}
.curRow {
  background-color: red;
}

.btn-outline-danger:active {
  background-color: #A90A2F;
  transform: translateY(-3px);
  box-shadow: 0 10px 2px rgba(0, 0, 0, 0.2);
}

.modal-content {
  margin-top: 15vh !important;
  min-width: 60vh !important;
  min-height: 36vh !important;
}


.form-check {
    margin-bottom: 2rem !important;
    font-size: 1.5rem !important;
}

.form-check-input:checked {
  background-color: #A90A2F;
  border-color: #A90A2F;
}
/*********** Responsive design ***********/
@media(max-width:1300px){
  .totalFooter {
    margin: 1rem;
    padding: 1rem .5rem !important;
  }
}

@media(max-width:1400px){
  .leftNav {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
  .icon {
    padding: 2em;
    margin: 0.25rem auto;
    width: 100%;
  }
  .icon > img {
    max-width: 32px !important;
  }
  .itemName > span{
    font-size: .85rem !important
  }
  .menuCat {
    font-size: 1.75rem;
  }
  .logo > img {
    padding-top: 1rem;
  }
  
  .itemName > h6 {
    letter-spacing: 2px;
    font-size: 1rem; 
  }   
  .withWr, .choices {
    font-size: 13px;
  }
  .totalDiv {
    padding: 1rem;
    height: 100vh;
    height: auto;
    position: relative;
  }
  .totalDiv> h1 {
    margin-bottom: 1.5rem;
  } 

  td {
    padding: 0.5rem !important;
    font-weight: 500;
    font-size: .8rem;
  }
  .itemNumWrap{
    font-size: 1rem !important;
  }
  tr > td:first-child {
    padding-left: 12px !important;
  }
  tr > td:last-child {
    padding-right: 12px !important;
  }
  .totalFooter {
    margin-bottom: 0;
    margin-top: 0;
  }
  .qty {
    min-width: 20px;
    max-width: 20px;
    margin: 0 .25rem;
  }
  .totalBox {
    padding-bottom: 0.85rem;
    padding-top: 0;
  }
}


@media(max-width:1200px){
  .addItem, .removeItem {
    width: 30px;
    height: 30px;
    font-size: 20px;
  }
  .icon {
    padding: 1.75em;
  }
}

@media(max-width:900px){
  .totalDiv{
    height: auto;
    min-height: 100vh;
  }
 .leftNav {
  margin: 0;
  padding: 0;
 }
 icon>img {
  max-width: 22px!important;
}
}